form {
  color: white;
}

.edit_game {
  font-family: 'PSP2';
  font-size: 100px;
  padding-left: 335px;
}

.player-move {
  font-family: 'PSP2';
  font-size: 100px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'PSP2', Helvetica, Arial, sans-serif;
  color: white;
}

.game-title {
  text-align: center;
}

.game-div{
  margin: auto;
}

a, {
  font-family: 'PSP2';
}

.player-2 {
  padding-left: 40px;
}